<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.itprospect.everydaybiblereading"
    android:versionCode="33"
    android:versionName="0.17"
    android:installLocation="preferExternal">

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher2"
        android:label="@string/app_name"
        android:theme="@style/AppBaseTheme" 
        android:name="MainApp">
        <activity
            android:name="ru.itprospect.everydaybiblereading.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <receiver android:name="WidgetActivity" android:label="@string/widget_label">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="ru.itprospect.everydaybiblereading.WIDGET_FORCE_UPDATE" />
                <action android:name="ru.itprospect.everydaybiblereading.WIDGET_ALARM_UPDATE" />
            </intent-filter>
            <meta-data 
                android:resource="@xml/day_reading_widget_provider" 
                android:name="android.appwidget.provider"/>
        </receiver>
        
        <activity android:name="SettingsActivity">
        </activity>
        
        <activity android:name="BibleActivity" 
            android:parentActivityName="ru.itprospect.everydaybiblereading.MainActivity" 
            android:icon="@drawable/prozrachn">
			<!-- Parent activity meta-data to support 4.0 and lower -->
			<meta-data android:name="android.support.PARENT_ACTIVITY" 
			    android:value="ru.itprospect.everydaybiblereading.MainActivity"/>

            <intent-filter>
                <data
                    android:host="BibleActivityHost"
                    android:scheme="activity-run" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
        </activity>
        
        <activity android:name="SelectBookActivity" 
            android:parentActivityName="ru.itprospect.everydaybiblereading.BibleActivity" 
            android:icon="@drawable/prozrachn">
			<!-- Parent activity meta-data to support 4.0 and lower -->
			<meta-data android:name="android.support.PARENT_ACTIVITY" 
			    android:value="ru.itprospect.everydaybiblereading.BibleActivity"/>
        </activity>
        
    </application>

</manifest>